@import "variables.scss";
.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  font-family:$primaryFont;
  box-sizing: border-box;
  button {
    border: 0px;
    display: none;
    background-color: transparent;
    box-sizing: border-box;
    .fa-bars,
    .fa-times {
      color: #fff;
      font-size: 20px;
    }
  }

  .header__nav__ul {
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      height: 100%;

      .li__a {
        display: flex;
        align-items: center;
        height: 95%;
        text-decoration: none;
        margin: 0px 5px;
        font-size: 0.9em;
        cursor: pointer;
        padding: 10px;
        color: inherit;
        font-weight: 400;
        box-sizing: border-box;
        &:hover {
          background-color: rgba($color: #fff, $alpha: 0.1);
        }
      }
    }
    .toggleSearch{
      color: #2ba6cb;
      font-size: 1.2em;
      cursor:pointer;
    }
  }
  .header__nav__ul_responsive{
    display: none;
  }
  .toggleSearch__reponsive{
    display: none;
  }
}

.active1 {
  font-weight: 700;
  background-color: rgba($color: #000, $alpha: 0.4);
  border-bottom: 1px solid $primaryColor;
  font-size: 0.1em;
  padding: 2px;
  box-sizing: border-box;
}
@media all and (min-width: 768px) {
  .header__nav__ul_responsive {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .header__nav {
    z-index: 5;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    button {
      border: 0px;
      display: flex;
      width: 20px;
      background-color: transparent;
      .fa-bars {
        color: #fff;
        font-size: 20px;
      }
    }
    .toggleSearch__reponsive{
      color: #2ba6cb;
      font-size: 1em;
      color: white;
      cursor:pointer;
      display: block;
      // margin-right: 0em;
    
    }
    .header__nav__ul {
      z-index: 5;
      width: 100vw;
      list-style: none;
      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      align-items: flex-start;
      position: absolute;
      background-color:rgba($color: $primaryColor, $alpha: 1);
      top: 100%;
      height: 40vh;
      padding:0%;
      .toggleSearch{
        color: #2ba6cb;
        font-size: 1.2em;
        cursor:pointer;
        display: none;
      }
      li {
        width: 100%;
        padding: 0;
        .li__a {
          z-index: 5;
          display: flex;
          align-items: center;
          height: 50%;
          color: #fff;
          text-decoration: none;
          margin: 0px;
          font-size: 16px;
          cursor: pointer;
          padding: 1px 2em;
          width: 100%;
          &:hover {
            font-weight: 700;
            background-color: rgba($color: #000, $alpha: 0.6);
            border-bottom: 1px solid $primaryColor;
            font-size: 1em;
            padding: 1px 2em;
            box-sizing: border-box;
          }
        
        }
       
      }
   
    }

  
  }
  .active1 {
    font-weight: 700;
    background-color: rgba($color: #000, $alpha: 0.6);
    border-bottom: 1px solid $primaryColor;
    font-size: 1em;
    padding: 1px 2em;
    box-sizing: border-box;
  }
 
}
 